/* Step 1 */

body {
	background-color: white;
}

P {
border-bottom: 1px solid red;
}
.kermit {
	border: 10px solid green;
border-radius: 25%;
}

#main-div-1 {
	padding: 5%;
}

/* Step 2 */
#main-div-2 .kermit {
	border: 2px dotted purple;
}

#main-div-2 p {
	background-color: orange;
}


/* Step 3 */
#li-1 {
font-size: 30px;
}
#li-2 {
font-weight: bolder;
}
#li-3 {

}
#mystery-ul li{
	font-family: 'Mystery Quest' , cursive;
}
#flex-kermit {
	display: flex;
	flex-wrap: wrap;
}

#flex-kermit > img {
	width: 30%;
	float: left;
}

input {
	background-color: white;
}
input:valid {
	background-color: green;
}
input:invalid {
	background-color: red;
}